<table style="padding: 50px">
	 <tr>
    <th>Address</th>
    <th>Latitude</th>
    <th>Longitute</th>
  </tr>
  
  <% @entity.each do |entity| %>
  <tr>
    <td><%= entity.address %></td>
    <td><%= entity.latitude %></td>
    <td><%= entity.longitude %></td>
    <td> <%= button_to "Remove", entity, :method => :delete %> </td>
  </tr>
  <% end %>

</table>