


<!DOCTYPE html>
<html>
<head>
<script
src="http://maps.googleapis.com/maps/api/js">

</script>
<script
src="/assets/javascripts/google_maps_custom.js">

</script>


</head>

<body>
<h1> Create entity </h1>
<span>

<%= render 'form' %>
</span>
<div class="align-google-maps" id="googleMap" style="width:500px;height:380px;">
	
</div>

</body>
</html>
