<%= @entity.address %>
<p>
  latitude:
  <%= @entity.latitude %>
</p>
<p>
  longitude:
  <%= @entity.longitude %>
</p>
<!-- map div
-->
<div id="map" style="width: 550px; height: 350px;"></div>
<script>
  
  $(document).ready(function(){
    var entity = #{@entity.to_json}    // pass ruby variable to javascript
    gmap_show(entity);    // init show map for company card (only print marker)
  });

</script>


